.Divdelete {
    height: 135px;
}

.alertDelete {
    height: 181px;
    color: black
}

.divBtnDelete {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.deleteBtn {
    width: 66px;
}